@import url('https://fonts.googleapis.com/css?family=Quicksand:whgt@400;600display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Quicksand", sans-serif;
    background-color: #1c1c1c;
    color: #fff;
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
}

.faq.active .answer {
    max-height: 300px;
}

.faq.active button {
    transform: rotate(180deg);
}

button {
    transition: transform 0.5s ease-in ;
}