body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.square div {
    width: 20px;
    height: 20px;
}

.snake {
    background-color: blue;
}

.apple {
    background-color: purple;
}